/*
    CSS comment
*/

/* selectors */

/* tag selector */
div {
   color: rgb(204, 204, 204);
}

p {
    font-size: 32px;
}

/* id selector */
#d1 {
    color: #333;
}

/* class selector */
.d10s{
    color: blue;
}

/* pseudo selectors */
div:nth-child(2n+1) {
    color: green;
}

div::before {
}

div::after{

}

div:hover, #d1:hover{
    color: purple;
}

/* multi selectors */
div.d10s{
    color: blue;
}

div p span {
    font-size: 16px;
}

div .dp1 {
    font-size: 20px;
}
/* special selectors */

#d1 > p {
    font-weight: bold;
}


/**
 *  Inline styles (style attribute)
 * External styles
 */

 #parent, #child, #grand-child {
    border:1px solid black;
    padding: 10px;
    margin: 10px;
 }

 .box {
    width: 100px;
    height: 100px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
 }

 /**
  div - block level element
  span - inline element
  */


/**
 span(parent) div(child) - Semantic error
 div - by default takes 100% width
*/